:root {
  --textColor: #ffffff;
  --bgColor: #2a2b2e;
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--bgColor);
}

.topContent {
  color: var(--textColor);
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
  text-align: center;
  /* background-color: red; */
}

.topContent h1 {
  margin-bottom: 30px;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #cecece;
  color: black;
  border-color: var(--bgColor);
  font-size: 15px;
  margin: 0px 10px;
  margin-bottom: 25px;
}

button:hover {
  cursor: pointer;
  border-color: #cecece;
  border-width: 2px;
}

.button-clicked {
  border-color: #cecece;
  border-radius: 10px;
  background-color: var(--bgColor);
  color: var(--textColor);
}

.button-disabled {
  background-color: var(--bgColor);
  color: var(--textColor);
}

.bar {
  background: #ffffff;
  display: inline;
  float: left;
  /* border-radius: 0px 0px 0px 0px; */
  margin-left: 1px;
  margin-right: 1px;
}

.allBars {
  width: 80vw;
  margin-top: 15px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: red;
}
